:root {
  color-scheme: light !important; /* wxt の上書き */
}
body {
  color: #242424; /* wxt の上書き */
  background-color: #ffffff; /* wxt の上書き */
  padding: 15px;
  font-size: 100%;
}

h1 {
  margin-top: 0;
}

main {
  width: 360px;
}
aside {
  width: 290px;
}
.flex-wrapper {
  width: 800px;
  display: flex;
}

th {
  text-align: left;
}
