:root {
  color-scheme: light !important; /* wxt の上書き */
}
body {
  color: #242424; /* wxt の上書き */
  background-color: #ffffff; /* wxt の上書き */
  padding: 0 15px;
  font-size: 100%;
  /* width: 680px; */
}

h1 {
  margin-top: 0;
}

main {
  width: 360px;
}
aside {
  width: 280px;
}
.flex-container {
  width: 640px;
  display: flex;
  align-items: start;
}
figure {
  margin: 0;
}

.img-dim-example-container {
  border: 1px solid lightgray;
  padding: 10px;
}

th {
  text-align: left;
}
