/* wxt の上書き
  https://github.com/wxt-dev/wxt/blob/5775c9ce0f025998dda53fec95476d943e7d4f4b/templates/react/entrypoints/popup/style.css#L58-L69 */
:root {
  color: #213547 !important;
  background-color: #ffffff !important;
  color-scheme: light !important;
}
a:hover {
  color: #747bff !important;
}
button {
  background-color: #f9f9f9 !important;
}

body {
  /* wxt の上書き */
  color: #242424;
  background-color: #ffffff;

  padding: 0 15px;
  font-size: 100%;

  /* wxt の上書き（Popupにしたら不要になる） */
  display: block !important;
  padding-top: 50px !important;
}

h1 {
  margin-top: 0;
}

main {
  width: 360px;
}
aside {
  width: 280px;
}
.flex-container {
  width: 640px;
  display: flex;
}
figure {
  margin: 0;
}

.img-dim-example-container {
  border: 1px solid lightgray;
  padding: 10px;
}

th {
  text-align: left;
}
