/*「お取り寄せ」を消す ==================================== */
/* ランキング */
.listContentsLine:has(
    :where(
        /* 在庫なし */
        .stockInfo .red,
        /* 販売終了 */
        .js_addLatestSalesOrder li:nth-child(3) .gray
    )
),
/* 検索ページ */
.js_productBox:has(.js_addLatestSalesOrder li:nth-child(4) :where(.red, .gray)) {
  /* display: none; */
  [data-by-shows-out-of-stock-products="dim"] & {
    opacity: 0.3;
  }
  [data-by-shows-out-of-stock-products="hide"] & {
    display: none;
  }
}

/* PR を消す ========================= */
[data-by-shows-pr-products="true"] {
  .js_legoPartsProductCarousel:has(.cmr-prodgroup-header) {
    /* display: none; */
    background-color: yellow;
  }
}
