/* PR を消す ========================= */
[data-by-shows-pr-products="true"] {
  .js_legoPartsProductCarousel:has(.cmr-prodgroup-header) {
    /* display: none; */
    background-color: yellow;
  }
}

/* 「在庫なし」のメッセージ */
.by-stock-status-container {
  position: absolute;
  top: 70px;
  left: 30px;
  font-weight: bold;
}

.productListTile {
  position: relative;
}

.by-stock-status-message {
  font-size: 35px;
  -webkit-text-stroke: 10px white;
  paint-order: stroke;
}
.by-stock-status-secondary-message {
  font-size: 15px;
  -webkit-text-stroke: 5px white;
  paint-order: stroke;
}

.productListTile:is(
    [data-by-stock-status="out-of-stock"],
    [data-by-stock-status="discontinued"],
    [data-by-stock-status="in-stores-only"]
  ) {
  /* 在庫なし商品を薄くする */
  & > :not(.by-stock-status-container) {
    [data-by-shows-out-of-stock-products="dim"] & {
      opacity: 0.3;
    }
  }
  &:hover {
    & > * {
      opacity: 1 !important;
    }
    .by-stock-status-container {
      display: none;
    }
  }

  /* 在庫なし商品を非表示にする */
  [data-by-shows-out-of-stock-products="hide"] & {
    display: none;
  }
}
