/* PR を消す ========================= */
[data-by-shows-pr-products="false"] {
  .js_legoPartsProductCarousel:has(.cmr-prodgroup-header) {
    display: none;
  }
}

/* 「在庫なし」のメッセージ */
.by-stock-status-container-link {
  position: absolute;
  top: 70px;
  left: 30px;
  font-weight: bold;
  color: inherit !important;
  text-decoration: none !important;
}

.by-stock-status-message {
  font-size: 35px;
  -webkit-text-stroke: 10px white;
  paint-order: stroke;
}
.by-stock-status-secondary-message {
  font-size: 15px;
  -webkit-text-stroke: 5px white;
  paint-order: stroke;
}

.productListTile {
  position: relative;

  &:is(
      [data-by-stock-status="out-of-stock"],
      [data-by-stock-status="in-stores-only"]
    ) {
    /* 在庫なし商品を薄くする */
    & > :not(.by-stock-status-container-link) {
      [data-by-shows-out-of-stock-products="dim"] & {
        opacity: 0.4;
      }
    }

    /* 在庫なし商品を非表示にする */
    [data-by-shows-out-of-stock-products="hide"] & {
      display: none !important;
    }
  }

  /* 販売終了商品は問答無用で非表示にする */
  &[data-by-stock-status="discontinued"] {
    display: none !important;
  }
}
